/*Form*/

ul{
	font-size: 1.5rem;
	min-width: 80%;
	max-width: 90%;
	text-align: right;
}

li{
	width: 100%;
	margin: 10px;
}

.box{
    width: 90vw;
	position: absolute;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);    
}

input[type="text"]{
	padding: 4px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	background-color: #1e1e1e;
	color: #fff;
	min-width: 400px;
	max-width: 90%;
	width: auto;
}

input[type="text"]:focus{
	transition: 0.6s;
	border-bottom-color: #0066cc;
}

input[type="text"]:hover{
	border-bottom-color: #66ffcc;
}

.gen{
	font-size: 16px;
}

.top-container {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
}

.submit{
	margin-right: 10%;
	font-size: 24px;
	border: 0;
	background: none;
	margin: 20px auto;
	text-align: auto;
	border: 2px solid #fff;
	padding: 14px 10px;
	width: 5%;
    min-width: 50px;
	outline: none;
	color: #fff;
	border-radius: 24px;
	transition: 0.50s;
}

.submit:hover{
	background: #fff;
	color: #000;
}

/*Form*/

/*Gender Toggle*/
.label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.label-text {
	margin-left: 8px;
}
  
.toggle {
	isolation: isolate;
	position: relative;
	height: 24px;
	width: 48px;
	border-radius: 15px;
	background: #ff91b0;
	overflow: hidden;
  }
  
  .toggle-inner {
	z-index: 2;
	position: absolute;
	top: 1px;
	left: 1px;
	height: 22px;
	width: 46px;
	border-radius: 15px;
	overflow: hidden;
}
  
.active-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 200%;
	background: #2940d3;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.05s linear 0.17s;
}
.toggle-state {
	display: none;
}

.indicator {
	height: 100%;
	width: 200%;
	background: #fff;
	border-radius: 13px;
	transform: translate3d(-75%, 0, 0);
	transition: transform 0.35s cubic-bezier(.6,-0.28,.74,.05);
}

.toggle-state:checked .indicator{
	background-color: #000;
}

.toggle-state:checked ~ .active-bg {
	transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
	transform: translate3d(25%, 0, 0);
}
/*Gender Toggle*/

#landscape{
	text-align: center;
	vertical-align: middle;
	position: fixed;
	background-color: #000;
	z-index: 99;
	height: 100vh;
	width: 100vw;
	display: none;
}
